body{
	background-color: #000074;
	font-family: Verdana;
	color:#FFFFFF;
}

.paragraph{
	font-size:30px;
	text-align: center;
}



.intro{
	font-size: 55px;
	text-align: center;
	color:#FFFFFF;
	margin:10px;
}

.stoic{
	justify-content: flex-end;
	padding: 5px;
	display: flex;
	border: solid;
	width: auto;
	height: auto;
	align-items: center;
	background-color: #000027;
	border-color: #FFFF00;
}


img{
	width: auto;
	border: solid;
	height: 800px;
	align-items: flex-start;
	margin: 5px;
	padding: 5px;
}

.bio{
	font-size:40px;
	text-align: center;
}

h2{
	font-size:50px;
	text-align: center;
}

.column{
	margin: 10px;
	border: solid;
	padding: 100px;
	display: flex;
	border-color: #FFFF00;
	font-size: 40px;
	display: flex;
}

.columns{
	display: flex;
	border:solid;
	justify-content: space-between;
	align-content: stretch;
	padding: 5px;
}

.images{
	display: flex;
	padding: 10px;
	border:solid;
}


.list{
	margin: 10px;
	border: solid;
	padding: 100px;
	display: flex;
	border-color: #FFFF00;
	font-size: 40px;
	display: flex;
	justify-content: space-between;	
}

.list-items{
	display: flex;
	border:solid;
	padding: 10px;
	margin: 10px;
}